.addTotalRow {
	:global(.ant-table-thead > tr > th[colspan]) {
		text-align: left;
	}
	:global(.ant-table-tbody) {
		text-align: left;
	}
	:global(.ant-table-thead) {
		tr:last-child {
			span {
				color: #635757 !important;
			}
		}
	}
	:global(.ant-alert-with-description .ant-alert-close-icon) {
		top: 3px;
	}
	:global(.ant-alert-with-description .ant-alert-message) {
		margin-bottom: 0px;
	}
}
.searchForm {
	:global(.ant-form-item-label) {
		min-width: 100px;
		text-align: left;
	}
}

:global(.ant-table-small > .ant-table-content > .ant-table-body > table) {
	padding: 0px;
}

:global(.ant-table-small
		> .ant-table-content
		> .ant-table-body
		> table
		> .ant-table-thead
		> tr:first-child
		> th) {
	background: #f2f2f2;
}
:global(.ant-table-small
		> .ant-table-content
		> .ant-table-body
		> table
		> .ant-table-thead
		> tr:last-child
		> th) {
	background: #fafafa;
}
:global(.ant-table-small
		> .ant-table-content
		> .ant-table-scroll
		> .ant-table-body
		> table
		> .ant-table-thead
		> tr:first-child
		> th) {
	background: #f2f2f2;
}
:global(.ant-table-small
		> .ant-table-content
		> .ant-table-scroll
		> .ant-table-body
		> table
		> .ant-table-thead
		> tr:last-child
		> th) {
	background: #fafafa;
}
:global(.ant-table-small
		> .ant-table-content
		> .ant-table-scroll
		> .ant-table-header
		> table
		> .ant-table-thead
		> tr:first-child
		> th) {
	background: #f2f2f2;
}
:global(.ant-table-small
		> .ant-table-content
		> .ant-table-scroll
		> .ant-table-header
		> table
		> .ant-table-thead
		> tr:last-child
		> th) {
	background: #fafafa;
}
:global(.ant-table-small
		> .ant-table-content
		> .ant-table-scroll
		> .ant-table-body
		> table
		> .ant-table-thead
		> tr:first-child
		> th.ant-table-expand-icon-th) {
	background: white;
}
:global(.ant-table-small
		> .ant-table-content
		> .ant-table-scroll
		> .ant-table-body
		> table
		> .ant-table-thead
		> tr:first-child
		> th.ant-table-selection-column) {
	background: white;
}
:global(.ant-table-bordered .ant-table-thead > tr:not(:last-child) > th) {
	background: #f2f2f2;
}
:global(.ant-table-bordered .ant-table-thead > tr:first-child > th) {
	background: #f2f2f2;
}
:global(.ant-table-bordered .ant-table-thead > tr:last-child > th) {
	background: #fafafa;
}

:global(.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td){
    padding: 0px;
}

:global(.ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th){
    padding: 0px;
}

:global(.ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td){
    padding: 0px;
}

.pannelHeader {
    width: 450px;
	a {
		margin-right: 10px;
	}
}
.pannelOperate{
    float: left;
}
.headImgAllWrapper{
    float: left;
    width: 250px;
    overflow: hidden;
    img{
        float: left;
    }
    .headTitleWrapper{
        float: left;
        max-width: 200px;
        span{
            display: inline-block;
            white-space:nowrap;
        }
    }
}
.pannelHeaderDefault {
	color: #333333;
}
.pannelTableWrapper {
	.imitateWrapper {
        display: block;
        overflow: hidden;
		p {
			border-bottom: 1px solid #e8e8e8;
			margin-bottom: 0px;
			padding: 5px;
			white-space: nowrap;
			&:last-child {
				border: none;
			}
		}
	}
}
.sortStyle {
	a {
		margin-left: 10px;
	}
}